{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
  <h3>Фильтрация</h3><br>
  <div class="container mt-3" style="width: 55%; fon-size: 10px;">
  <form method="get" id="incomes">
<!--    {{ filter.form.as_p }}-->
    <div class="row" >
      <div class="col-6" >
        {{ filterset.form.course|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.payment_method|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.course__format|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.course__studying_time|as_crispy_field }}
      </div>
    </div>
          <div class="col-6" >
        {{ filterset.form.course__teacher|as_crispy_field }}
      </div>
     <div class="col-6" >
        {{ filterset.form.created_date|as_crispy_field }}
      </div>
    <button type="submit">Применить фильтр</button>
</form>
  </div>
  {% for obj in object_list %}
  {% if obj.created_date|date:"Y-m-d" >= start_date|date:"Y-m-d" and obj.created_date|date:"Y-m-d" <= end_date|date:"Y-m-d" %}
    {{ obj }}
  {% endif %}
{% endfor %}
  <br>
<br>
<br>
  <h3>Доходы</h3>
  <br>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="text-align: center; margin: 0 10px;" >Студент</th>
      <th style="text-align: center; margin: 0 10px;" >Курс</th>
      <th style="text-align: center; margin: 0 10px;" >Цена</th>
      <th style="text-align: center; margin: 0 10px;" >Способ оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата создания</th>
    </tr>
    {% for income in object_list %}
    <tr>
      <td style="text-align: center; margin: 0 10px;"><a href="{% url 'income_detail' income.id %}" >{{ income.student }}</a></td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.course }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.value }}</td>
        {% if income.payment_method %}
          <td style="text-align: center; margin: 0 10px;" >{{ income.payment_method }}</td>
        {% else %}
          <td style="text-align: center; margin: 0 10px;" ></td>
      {% endif %}
      <td style="text-align: center; margin: 0 10px;" >{{ income.created_date }}</td>
      <td><a href="{% url 'income_delete' income.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <br>
  <br>
  <div>
    <h2>Общая сумма дохода</h2>
  <h4>{{total_incomes}}</h4>
    </div>
  <br>
<br>
<br>
        <a style="font-size: 22px;" href="{% url 'income_add' %}">Добавить Доход <i class="fa fa-arrow-right"></i></a>

<br>
<br>
<br>
<hr style="height: 2px; color: black;" >

<!--    <form method="POST" action=".">-->
<!--  {% csrf_token %}-->
<!-- {{ form.as_p }}-->
<!--<button type="submit">Сохранить</button>-->
<!--  </form>-->
  <h3>Фильтрация</h3><br>
    <div class="container mt-3" style="width: 55%; fon-size: 10px;">
    <form method="get" id="expenses">
<!--    {{ filter.form.as_p }}-->
<!--          <div class="row" >-->
            <div class="col-6">
              {{ gg.form.flow_type|as_crispy_field }}
              </div>
      <div class="col-6">
        {{ gg.form.created_date|as_crispy_field }}
      </div>
    <button type="submit">Применить фильтр</button>
</form>
      </div>
    <br>
<br>
<br>
    <h3>Расходы</h3>
  <br>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
  <table class="table table-bordered">
  <tbody>
    <tr>
      <th style="text-align: center; margin: 0 10px;" >Наименование расхода</th>
      <th style="text-align: center; margin: 0 10px;" >Значение</th>
      <th style="text-align: center; margin: 0 10px;" >Тип расхода</th>
      <th style="text-align: center; margin: 0 10px;" >Дата создания</th>
    </tr>
    {% for expense in expenses  %}
    <tr>
      <td style="text-align: center; margin: 0 10px;"><a href="{% url 'expense_detail' expense.id %}" >{{ expense.title }}</a></td>
      <td style="text-align: center; margin: 0 10px;" >{{ expense.value }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ expense.get_flow_type_display }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ expense.created_date }}</td>
        <td><a href="{% url 'expense_delete' expense.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <br>
  <br>
  <div>
    <h2>Общая сумма расходов</h2>
  <h4>{{ total_expenses }}</h4>
    </div>
  <br>
<br>
<br>
  <a style="font-size: 22px;" href="{% url 'expense_add' %}">Добавить Расход <i class="fa fa-arrow-right"></i></a>

</center>
{% endblock %}

