{% extends 'classroom/parent_class.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% load crispy_forms_tags %}


{% block hamburger %}
<div class="container mt-3" style="width: 90%; fon-size: 10px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="login-page">
            <div class="myform">
                <form method="POST" class="login-form" action=".">
                    {% csrf_token %}
                    <input type="file" id="lol" name="lol"><br><br>
                    <button type="submit" class="btn btn-primary">Отправить задание</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}